gateway/flows.json
[
  {
    "id": "edge-gateway-flow",
    "type": "tab",
    "label": "SWMS Edge Gateway",
    "disabled": false,
    "info": "Local Mosquitto -> sanity/dedup -> cloud EMQX"
  },
  {
    "id": "local-mqtt",
    "type": "mqtt-broker",
    "name": "local-mosquitto",
    "broker": "${MQTT_BROKER}",
    "port": "${MQTT_PORT}",
    "clientid": "swms-node-red-gateway-local",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "cloud-mqtt",
    "type": "mqtt-broker",
    "name": "cloud-emqx",
    "broker": "${CLOUD_MQTT_BROKER}",
    "port": "${CLOUD_MQTT_PORT}",
    "clientid": "swms-node-red-gateway-cloud",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "credentials": {
      "user": "${CLOUD_MQTT_USER}",
      "password": "${CLOUD_MQTT_PASSWORD}"
    }
  },
  {
    "id": "telemetry-in",
    "type": "mqtt in",
    "z": "edge-gateway-flow",
    "name": "bin telemetry in",
    "topic": "sensors/bin/+/telemetry",
    "qos": "1",
    "datatype": "utf8",
    "broker": "local-mqtt",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 120,
    "wires": [["filter-telemetry"]]
  },
  {
    "id": "filter-telemetry",
    "type": "function",
    "z": "edge-gateway-flow",
    "name": "sanity + dedup",
    "func": "const now = Date.now();\nlet payload = msg.payload;\nif (typeof payload === 'string') {\n    try {\n        payload = JSON.parse(payload);\n    } catch (err) {\n        node.status({fill:'red', shape:'ring', text:'bad json'});\n        msg.drop_reason = 'bad_json';\n        return [null, msg];\n    }\n}\n\nconst fill = Number(payload.fill_level_pct);\nconst ts = Date.parse(payload.timestamp);\nif (!payload.bin_id || Number.isNaN(fill) || fill < 0 || fill > 100 || Number.isNaN(ts) || now - ts > 5 * 60 * 1000) {\n    node.status({fill:'yellow', shape:'ring', text:'sanity drop'});\n    msg.payload = payload;\n    msg.drop_reason = 'sanity';\n    return [null, msg];\n}\n\nconst dedup = context.get('dedup') || {};\nconst key = payload.bin_id;\nconst last = dedup[key];\nif (last && last.fill === fill && now - last.at < 60 * 1000) {\n    node.status({fill:'grey', shape:'ring', text:'dedup drop'});\n    msg.payload = payload;\n    msg.drop_reason = 'dedup';\n    return [null, msg];\n}\n\ndedup[key] = {fill, at: now};\ncontext.set('dedup', dedup);\nmsg.payload = JSON.stringify(payload);\nmsg.topic = `sensors/bin/${payload.bin_id}/telemetry`;\nnode.status({fill:'green', shape:'dot', text:`forward ${payload.bin_id}`});\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 120,
    "wires": [["telemetry-out"], ["dropped-debug"]]
  },
  {
    "id": "telemetry-out",
    "type": "mqtt out",
    "z": "edge-gateway-flow",
    "name": "forward to EMQX",
    "topic": "",
    "qos": "1",
    "retain": false,
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "cloud-mqtt",
    "x": 640,
    "y": 100,
    "wires": []
  },
  {
    "id": "dropped-debug",
    "type": "debug",
    "z": "edge-gateway-flow",
    "name": "dropped telemetry",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "drop_reason",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 160,
    "wires": []
  },
  {
    "id": "health-in",
    "type": "http in",
    "z": "edge-gateway-flow",
    "name": "GET /health",
    "url": "/health",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 260,
    "wires": [["health-response"]]
  },
  {
    "id": "ready-in",
    "type": "http in",
    "z": "edge-gateway-flow",
    "name": "GET /ready",
    "url": "/ready",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 320,
    "wires": [["health-response"]]
  },
  {
    "id": "health-response",
    "type": "function",
    "z": "edge-gateway-flow",
    "name": "ok response",
    "func": "msg.statusCode = 200;\nmsg.headers = {'content-type': 'application/json'};\nmsg.payload = {status: 'ok', component: 'gateway'};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 290,
    "wires": [["http-response"]]
  },
  {
    "id": "http-response",
    "type": "http response",
    "z": "edge-gateway-flow",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 620,
    "y": 290,
    "wires": []
  }
]
